#first{
  margin:0 auto;
  padding:0 auto;
  height:100vh;
  width:100%;
  display:block;
  text-align:center;
}
#first .cursol_first{
  opacity:0;
  margin:0 auto;
  padding:0 auto;
  position:absolute;
  left:187%;
  top:42%;
  font-size:100px;
  transition:0.3s;
}
#first .first_board{
  opacity:0;
  position:absolute;
  top:70%;
  left:120%;
  width:15%;
  font-size:25px;
  border:solid 2px black;
  line-height:65px;
  border-radius:20px 20px/20px 20px;
  z-index:10;
  background-color:white;
}
#first .first_message{
  opacity:0;
  position:absolute;
  top:73%;
  left:123%;
  width:60%;
  font-size:25px;
  border:solid 2px black;
  line-height:75px;
  border-radius:20px 20px/20px 20px;
  z-index:1;
}
#first .cursol_first:hover{
  top:41%;
  font-size:115px;
  transition:0.3s;
}
#first a{
  text-decoration:none;
  color:black;
}


#first h1{
  margin:0 auto;
  padding:0 auto;
  position:relative;
  top:10%;
  font-size:60px;
}
#first .img_first{
  position:relative;
  top:155px;
  left:-270px;
  width:18%;
  max-width:400px;
}
#first table{
  margin:0 auto;
  padding:0 auto;
  position:absolute;
  top:32%;
  left:151%;
  font-size:30px;
  width:30%;
}
#first button{
  font-size:30px;
  line-height:100px;
  background-color:white;
  border:solid 1px white;
  transition:0.3s;
  width:500px;
}
